@{
    ViewBag.Title = "Matt Collecutt";
}

<article>
    <h5>About Me</h5>
    I have been programming since I was 14, playing around with <b>C#</b> and <b>Javascript</b>
    since I began, ever since I started I've had a passion for writing software to solve
    real world problems. My qualifications currently include a Diploma in Applied Computing in
    Level 5 and 6 from Toi Ohomai Institute of Technology. I have been working at EziTracker since
    January 2015 starting as an Apperentice and am now a Junior Developer as of November of 2017.
</article>