@{
    ViewBag.Title = "Matt Collecutt";
}

<article>
    <h5>About Me</h5>
    Holding a Level 5 and 6 Diploma of Applied Computer Science from Toi Ohomai, 
    with 3 years of experience, my passion involves writing software with a preference for C# and Javascript.
    Since November of 2017 i have been working as a Junior Developer at eziTracker, 
    after joining the company in 2015 as an Apprentice Developer.
</article>