@{
    ViewBag.Title = "Matt Collecutt";
}

<article>
    <h5>About Me</h5>
    I have been working at EziTracker starting in January 2015 as an Apprentice. Since November of 2017, I am now in the role of Junior Developer
</article>